<!-- Removed bulk of content to avoid copyright infringement -->
<!-- Made up data for testing -->
  <table id="balanceByFundTable">
    <tbody>
        <tr>
          <td>9.79</td>
          <td>FNAMW</td>
          <td>
            <a href="javascript:void(0)" class="genericNav"
                 onclick="window.open('http://www.example.com/?product=FUNDS&amp;custno=1&amp;FUNDID=1')">
               FAKE NAME W
            </a>
          </td>
          <td>103.572</td>
          <td>$6,644.72</td>
          <td>
            <acronym class="icon" title='Prospectus'>
              <img src='/401k_emp_static/2_0//images/prospectus_icon.png' onclick="window.open('http://www.example.com/?product=PROSP&amp;custno=1&amp;FUNDID=1')"/>
            </acronym>
          </td>
          <td>Transfer</td>
          <td>724</td>
        </tr>
        <tr>
          <td>10.21</td>
          <td>FNAMX</td>
          <td>
            <a href="javascript:void(0)" class="genericNav"
                 onclick="window.open('http://www.example.com/?product=FUNDS&amp;custno=1&amp;FUNDID=2')">
               FAKE NAME X
            </a>
          </td>
          <td>214.321</td>
          <td>$6,929.78</td>
          <td>
            <acronym class="icon" title='Prospectus'>
              <img src='/401k_emp_static/2_0//images/prospectus_icon.png' onclick="window.open('http://www.example.com/?product=PROSP&amp;custno=1&amp;FUNDID=2')"/>
            </acronym>
          </td>
          <td>Transfer</td>
          <td>915</td>
        </tr>
        <tr>
          <td>31.58</td>
          <td>FNAMY</td>
          <td>
            <a href="javascript:void(0)" class="genericNav"
                 onclick="window.open('http://www.example.com/?product=FUNDS&amp;custno=1&amp;FUNDID=3')">
               FAKE NAME Y
            </a>
          </td>
          <td>13.179</td>
          <td>$21,434.13</td>
          <td>
            <acronym class="icon" title='Prospectus'>
              <img src='/401k_emp_static/2_0//images/prospectus_icon.png' onclick="window.open('http://www.example.com/?product=PROSP&amp;custno=1&amp;FUNDID=3')"/>
            </acronym>
          </td>
          <td>Transfer</td>
          <td>1254</td>
        </tr>
        <tr>
          <td>48.42</td>
          <td>FNAMZ</td>
          <td>
            <a href="javascript:void(0)" class="genericNav"
                 onclick="window.open('http://www.example.com/?product=FUNDS&amp;custno=1&amp;FUNDID=4')">
               FAKE NAME Z
            </a>
          </td>
          <td>26.624</td>
          <td>$32,863.86</td>
          <td>
            <acronym class="icon" title='Prospectus'>
              <img src='/401k_emp_static/2_0//images/prospectus_icon.png' onclick="window.open('http://www.example.com/?product=PROSP&amp;custno=1&amp;FUNDID=4')"/>
            </acronym>
          </td>
          <td>Transfer</td>
          <td>1987</td>
        </tr>
    </tbody>
  </table>
