<!-- Removed bulk of content to avoid copyright infringement -->
<td class="welcomeBoxOutside">
    <div class="welcomeBoxLabel">Current Balance</div>
    <div class="welcomeBoxData">$67,872.49</div>
</td>
<td class="welcomeBoxInside">
    <div class="welcomeBoxLabel">Vested Balance</div>
    <div class="welcomeBoxData">$67,872.49</div>
</td>
<td class="welcomeBoxOutside">
    <div class="welcomeBoxLabel">Personal<br/>Rate of Return</div>
    <div class="welcomeBoxRorData">8.9%</div>
</td>
    </tr>
  </tbody>
</table>
